.edit-symbol {
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  

  body{
    background-color: black;
    color: white;
    margin-left: 2.75vw;
    font-size: 20px;
}
h1{
  
    /* width: 60vw; */
}
form{
    width: 51%;
   margin-bottom: 25px;
}
form input{
    background-color: rgb(59, 57, 57);
    height:30px;
    float:right;
    color: white;
    font-size: 20px;
  
}
form button{
    font-size: 20px;
    height: 30px;
    width: 50vw;
}
table{
    width: 95vw;

}
th,td{
   
    padding: 5px;
    margin:10px ;
}
table, th {
    border: 1px solid rgb(255, 252, 252);
    border-collapse: collapse;
  }

  tbody>tr{
    border: none;
  }
th,td{
    border-left: 1px solid white;
}
  /* 
  th,td{
   
    padding: 5px;
    margin:10px ;
}
table, th {
    border: 1px solid rgb(255, 252, 252);
    border-collapse: collapse;
  }
  tbody,td{
    border-bottom: none;
  } */

/* body{
    background-color: black;
    color: white;
}
h1{
    font-weight: 400;
    width: 50%;
}
div{

    width: 50%;
   display: flex;
   justify-content: space-between; 
   margin-top: 10px ;
   margin-bottom: 10px ;
}
form input{
    background-color: black;
    border-color: white;
}
#submit{
    background-color: white;
    color: black;
    width:50vw;
    margin: 10px auto;
}
table {
    border:1px solid white;


  }
  table th{
    border:1 px solid white;
  } */